.background-map{
    position: relative;
}
.menu{
    position: absolute;
    bottom: 20px;
    color: #fff;
}
.menu p{
    font-size: 20px;
    cursor: pointer;
    margin: 0;
}
.menu-item p:hover{
    color: rgb(253, 255, 122);
}
.menu-item p:not(:last-child) {
   margin-bottom: 5px;
}
.map-window{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%,-50%);
    height: auto;
    background-color: rgba(0, 0, 0, 0.904);
    border-radius: 5px;
    border: 1px solid rgb(253, 255, 122);
    padding: 15px 0 15px 0;
}
.title-map{
    color: #fff;
    font-size: 26px;
    text-align: center;
    margin: 0;
}
.map-list{
    text-align: center;
}
.map-item{
    width: 300px;
    height: 150px;
    margin: 14px;
    cursor: pointer;
}
.map-item:hover{
    border: 1px solid rgb(253, 255, 122);
    transform: scale(1.1);
    transition: 0.5s;

}
.close-map-window{
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10;
    cursor: pointer;
}
